{% extends "layout.html" %}

{% block content %}

<h1> Completed Campus Details</h1>

<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Sno</th>
                <th>Company_name</th>
                <th>Drive_type</th>
                <th>Placed</th>
                
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{d[1]}}</td>
                <td>{{d[2]}}</td>
                <td>{{d[12]}}</td>
               
                

            </tr>
            {% endfor %}

        </tbody>
</table>


<script type="text/javascript">

  $(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );

</script>

{% endblock %}